<h1>Welcome to Wall of Movies!</h1>
<a href="http://localhost:3000/directors">List of Directors</a>
<a href="http://localhost:3000/actors">List of Actors</a>
<a href="http://localhost:3000/movies">List of Movies</a>

<p>Click to leave</p>
<a href="http://google.com">DONT GO!</a>
